h1 {
	color: red;
	font-size: 100px;
}

h2 {
	color: red;
	font-size: 80px;

}
body {
	background-color: black;
}
body {
	text-align: center;
}
p {
	font-size: 60px;
	color: white;
}
a {
	font-size: 60px
	color: white;
}
